


/// overrides

// :root {
// 	--primary: #F0B !important;
//   }

nav {
	position: fixed;
	background: white;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 56px !important;
	padding-left: 16px;
	border-bottom: 1px solid var(--primary);
	box-shadow: 0 0 8px #FFFFFF88;
}

main {
	margin-top: 72px;
	margin-bottom: 32px;
}

button {
	border-radius: 0 !important;
	margin: 0 !important;
	margin-bottom: 16px !important;
}

/// normal stuff

.container-fluid {
	max-width: 800px;
}

.background {
	position: fixed;
    opacity: 0.05;
    transform: translateX(-50vw) translateY(-50vw) rotate(-12deg);
    width: 200vw;
    height: 300vh;
    background: url('./img/near-logo.png');
    background-size: 200px;
    z-index: -1;
}

body {
    margin: 0;
}

p {
    font-size: 20px;
    padding-bottom: 16px;
    margin: 0 !important;
    font-family: sans-serif;
}

h3 {
	margin-bottom: 16px !important;
}

.display-none {
	display: none;
}

.style {
	> div {
		margin: 16px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
		> .camera > video {
			border: 1px solid #eee;
		}
		> img {
			width: 320px;
			margin-bottom: 16px;
			border: 1px solid #eee;
		}
		> img:last-child {
			margin: 0;
		}
	}
}

.bills {
	> div {
		position: relative;
		> p {
			position: absolute;
			top: 0;
			right: 0;
			background: #FFFFFFDD;
			padding: 8px;
			z-index: 1;
		}
	> div {
		> canvas {
			width: 100%;
		}
	}
	}
}